@import './utils/vars';
@import './base/reset';
@import './base/common';
@import './utils/visually-hidden';

@import './components/container';
@import './components/section';
@import './components/button';
@import './components/logo';
@import './components/social-icon-list';
@import './components/modal';
@import './components/example-card';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/services';
@import './layout/team';
@import './layout/regular-clients';
@import './layout/projects';
@import './layout/footer';
