.projects__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects__item:not(:last-child) {
  margin-right: 8px;
}

.projects-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-accent-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--secondary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-button.current {
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  background-color: var(--secondary-background-color);
}

.example-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}
