.example-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.example-link__thumb {
  position: relative;
  overflow: hidden;
}

.example-link__photo {
  display: block;
}

.example-link__thumb-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .example-link:hover &,
  .example-link:focus & {
    transform: translateY(0);
  }
}

.example-link__photo-title {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
}

.example-link__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.example-link__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--primary-text-color);
}
